<div data-controller="hello">
  <h1 data-target="hello.output">Error</h1>
</div>

<ul>
  <li>
    Current locale: <%= I18n.locale %>
  </li>
  <li>
    <%= link_to "English", root_path(locale: "en") %>
  </li>
  <li>
    <%= link_to "Português (Brasil)", root_path(locale: "pt-BR") %>
  </li>
</ul>
